<h3 style="float: left; margin-bottom: 0px;font-weight: 500">Dashboard</h3>
<div class="wrapper ">
  <div class="main-panel" style="float: left; width:100%;">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">business</i>
                </div>
                <p class="card-category" style="font-weight: bold">Total Districts</p>
                <h3 class="card-title">
                  {{districtCount}}
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <a [routerLink]="'../district/viewDistrict'">View Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">room</i>
                </div>
                <p class="card-category" style="font-weight: bold">Total Areas</p>
                <h3 class="card-title">
                  {{areaCount}}
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <a [routerLink]="'../area/viewarea'" >View Details</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">local_shipping</i>
                </div>
                <p class="card-category" style="font-weight: bold">Total Vehicles</p>
                <h3 class="card-title">
                    {{vehiclesCount}}
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <a [routerLink]="'../viewVehicle'">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">group</i>
                </div>
                <p class="card-category" style="font-weight: bold">Total Panel Users</p>
                <h3 class="card-title">
                  {{usersCount}}
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <a [routerLink]="'../viewPanelUser'">View Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">note</i>
                </div>
                <p class="card-category" style="font-weight: bold">Total Unreviewed Reports</p>
                <h3 class="card-title">
                  {{unReviewedReportsCount}}
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <a [routerLink]="'../ledVehicle/unreviewedDisplay'">View Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">notes</i>
                </div>
                <p class="card-category" style="font-weight: bold">Total Reviewed Reports</p>
                <h3 class="card-title">
                  {{reviewedReportsCount}}
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <a [routerLink]="'../ledVehicle/reviewedDisplay'">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

