@import "~angular-notifier/styles";
::ng-deep .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #fff5ec !important;
}
::ng-deep .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
  background-color: #FF9934 !important;
}
::ng-deep .ui-table .ui-table-thead > tr > th {
 
}
.ngx-notification {
  background-color: #2d2d30;
  border-color: #272729;
  color: #c9c9c9;
}
