@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

#login-container {
    // background-image: url('../../assets/images/login.png');
    background-repeat: no-repeat;
    position: fixed;
    background-position: top;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.theme
{
  
  border: 0 none;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color:#0c0c0c;
  width: 200px;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 12px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  }

 

.btn input [type="email"]{
  text-align: left;
}

.login {
  width: 390px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #FF7530;
}

.login-header {
  background: #FF7530;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  border-radius: 10px;
  background: #fff;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.theme input[type="email"]:focus,
.theme input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #FF9934;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #FF7530;
}

.login input[type="submit"]:focus {
  border-color: #FF7530;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

#content-wrapper {
  // background-image: url('../../assets/images/login.png');
  background-repeat: no-repeat;
  position: fixed;
  background-position: top;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  justify-content: center;
    align-items: center;
    display: flex;
}