<ngx-spinner></ngx-spinner>
<div style="float: right; padding: 10px 0px; position: relative; z-index: 10;">
  <button type="button" class="btn btn-danger" (click)="createArea()">Create Area</button>
</div>
<div style="float: left">
  <!-- <h2>View Areas</h2> -->
<p-table [columns]="cols" [value]="areas" sortMode="multiple" [paginator]="true" [rows]="10" #dt>
    <ng-template pTemplate="caption">
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <span *ngSwitchCase="'delete'"></span>        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr> 
      <td *ngFor="let col of columns" [ngSwitch]="col.field">
        <span *ngSwitchDefault> <a routerLink="area/{{user.id}}">{{user[col.field]}}</a></span>
        <button *ngSwitchCase="'delete'" type="button" class="btn btn-danger btn-sm" (click)="delete(user)">Delete</button> 
      </td>
    </tr>
    </ng-template>
  </p-table>
</div>