<div style="text-align:center">
  <mat-toolbar id="mainToolbar" color="primary">
    <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
    Stage Light and Sound
    <span class="toolbar-spacer"></span>


    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Change password</button>
      <button (click)="logout()" mat-menu-item>
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container id="sidenavContainer" fullscreen autosize>
    <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen"
      opened>

      <mat-list id="menus">
        <!-- <mat-card>
              <mat-card-header>
                <div 
                  mat-card-avatar 
                  class="avatar"></div>
      
                <mat-card-title>John Doe</mat-card-title>
                <mat-card-subtitle>Internal</mat-card-subtitle>
              </mat-card-header>
            </mat-card> -->
        <mat-list-item>
          <button [routerLink]="'/'" routerLinkActive="active" class="menu-item" mat-flat-button>
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </button>
        </mat-list-item>

        <mat-list-item>
          <button [routerLink]="['district']" routerLinkActive="active" class="menu-item" mat-flat-button>
            <mat-icon>work</mat-icon>
            District
          </button>
        </mat-list-item>

        <!-- <mat-list-item (click)="showSubmenu1 = !showSubmenu1">
          <button (click)="mouseenter()" (mouseleave)="mouseleave()" class="menu-item" mat-flat-button>
            <mat-icon>settings_application</mat-icon>
            LED Vehicle
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu1}" *ngIf="isExpanded || isShowing">
              expand_more</mat-icon>
          </button>

        </mat-list-item>
        <div id="ledDisplay" class="submenu" [ngClass]="{'expanded' : showSubmenu1}" *ngIf="isShowing || isExpanded">
          <button [routerLink]="'ledVehicle/createDisplay'" routerLinkActive="active" class="menu-item" mat-flat-button>
            Create Vehicle
          </button>
        </div> -->

        <mat-list-item>
          <button [matMenuTriggerFor]="area" class="menu-item" mat-flat-button>
              <mat-icon>settings_application</mat-icon>
              Area
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                  expand_more</mat-icon>
          </button>
          <mat-menu #area="matMenu">
            <ng-container>
              <button mat-menu-item [routerLink]="'createArea'">Create Area</button>
            </ng-container>
            <ng-container>
              <button mat-menu-item [routerLink]="'viewAreas'">View Areas</button>
            </ng-container>
          </mat-menu>
        </mat-list-item>

        <mat-list-item>
          <button [matMenuTriggerFor]="led_vehicle" class="menu-item" mat-flat-button>
              <mat-icon>local_shipping</mat-icon>
              Stage Vehicle
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                  expand_more</mat-icon>
          </button>
          <mat-menu #led_vehicle="matMenu">
            <ng-container>
              <button mat-menu-item [routerLink]="'createVehicle'">Create Vehicle</button>
            </ng-container>
            <ng-container>
                <button mat-menu-item >View Vehicles</button>
              </ng-container>
          </mat-menu>
        </mat-list-item>

        <mat-list-item>
          <button [matMenuTriggerFor]="route_map" class="menu-item" mat-flat-button>
              <mat-icon>map</mat-icon>
              Route Map
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                  expand_more</mat-icon>
          </button>
          <mat-menu #route_map="matMenu">
            <ng-container>
              <button mat-menu-item [routerLink]="'uploadRouteMap'">Upload Route Map</button>
            </ng-container>
            <ng-container>
                <button mat-menu-item [routerLink]="'viewRoutes'">View Routes</button>
              </ng-container>
          </mat-menu>
        </mat-list-item>

        <mat-list-item>
          <button [matMenuTriggerFor]="panel_display" class="menu-item" mat-flat-button>
              <mat-icon>person</mat-icon>
              Panel Users
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                  expand_more</mat-icon>
          </button>
          <mat-menu #panel_display="matMenu">
            <ng-container>
              <button mat-menu-item [routerLink]="'createPanelUser'">Create Panel User</button>
            </ng-container>
            <ng-container>
                <button mat-menu-item [routerLink]="'viewPanelUser'">View Panel Users</button>
              </ng-container>
          </mat-menu>
        </mat-list-item>

        <mat-list-item>
            <button [matMenuTriggerFor]="led_display" class="menu-item" mat-flat-button>
                <mat-icon>note</mat-icon>
                Stage Display
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </button>
            <mat-menu #led_display="matMenu">
              <ng-container>
                <button mat-menu-item [routerLink]="'ledVehicle/createDisplay'">Create Display</button>
              </ng-container>
              <ng-container>
                  <button mat-menu-item [routerLink]="'ledVehicle/unreviewedDisplay'">Unreviewed Display</button>
                </ng-container>
                <ng-container>
                    <button mat-menu-item [routerLink]="'ledVehicle/reviewedDisplay'">Reviewed Display</button>
                  </ng-container>
                
            </mat-menu>
          </mat-list-item>

          <mat-list-item>
            <button [matMenuTriggerFor]="pdf_reports" class="menu-item" mat-flat-button>
                <mat-icon>local_post_office</mat-icon>
                PDF Reports
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </button>
            <mat-menu #pdf_reports="matMenu">
              <ng-container>
                <button mat-menu-item [routerLink]="'dailyReport'">Daily Report</button>
              </ng-container>
              <ng-container>
                  <button mat-menu-item [routerLink]="'monthlyReport'">Monthly Report</button>
                </ng-container>
            </mat-menu>
          </mat-list-item>

          <mat-list-item>
            <button [matMenuTriggerFor]="email" class="menu-item" mat-flat-button>
                <mat-icon>email</mat-icon>
                Email Settings
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </button>
            <mat-menu #email="matMenu">
              <ng-container>
                <button mat-menu-item [routerLink]="'updateSMTP'">Update SMTP</button>
              </ng-container>
            </mat-menu>
          </mat-list-item>
        <!-- <mat-list-item (click)="showSubmenu = !showSubmenu">
          <button (click)="mouseenter()" (mouseleave)="mouseleave()" class="menu-item" mat-flat-button>
            <mat-icon>settings_application</mat-icon>
            LED Display
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
              expand_more</mat-icon>

          </button>

        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
          <button [routerLink]="'ledVehicle/createDisplay'" routerLinkActive="active" class="menu-item" mat-flat-button>
            Create Display
          </button>
          <button [routerLink]="'ledVehicle/unreviewedDisplay'" routerLinkActive="active" class="menu-item"
            mat-flat-button>
            Unreviewd Displays
          </button>
          <button [routerLink]="'ledVehicle/reviewedDisplay'" routerLinkActive="active" class="menu-item"
            mat-flat-button>
            Reviewd Display
          </button>
        </div> -->
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
      <mat-selection-list class="dash-list">
        <router-outlet></router-outlet>
      </mat-selection-list>
    </mat-sidenav-content>
  </mat-sidenav-container>



</div>
