<ngx-spinner></ngx-spinner>
<div>
    <div>
<div style="float: right; padding: 10px 0px; position: relative; z-index: 10;">
  <button type="button" class="btn btn-danger" (click)="createPanelUser()">Create Panel User</button>
</div>
<div style="float: left">
    <!-- <div>
        <h2>Panel Users</h2>
    </div> -->
    <!-- <div *ngIf="users && users.length > 0"> -->
      <p-table [columns]="cols" [value]="users" sortMode="multiple" [paginator]="true" [rows]="10" #dt>
        <ng-template pTemplate="caption">
          Users List
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
              <span *ngSwitchDefault> <a routerLink="panel/{{user.id}}">{{user[col.field]}}</a> </span>
              <button *ngSwitchCase="'delete'" type="button" class="btn btn-danger btn-sm"
                (click)="delete(user)">Delete</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    <!-- </div> -->
  
  </div>