<ngx-spinner></ngx-spinner>
<div id="create-district">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12" >
      <div>
        <h4>
          AREA DETAILS
        </h4>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12" style="padding-right: 0px;padding-left: 0px;">
            <form class="row detail" name="form" #report="ngForm">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="form-group is-required-short">
                  <label class="control-label">Area Name*</label>
                  <input type="text" id="area-id" class="form-control" placeholder="Enter Area Name" name="areaName"
                  [(ngModel)]="areaName" required="true">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="form-group is-required-short">
                  <label class="control-label">District Name *</label>
                    <ngx-select-dropdown (change)="selectionChanged($event)" [config]="config" [options]="options" [(ngModel)]="areaDetails" name="areaDetails"></ngx-select-dropdown>
                  
                </div>
              </div>
            </form>
            <div class="row" style="margin-left: 15px; ">
                    <div style="float: left;">
                            <div>
                                <div class="p-20">
                                    <button type="submit" style="background-color: #FF9934" name="btcreatereport" (click)="create()" value="Foo" id="btcreatereport" class="ladda-button btn btn-primary waves-effect waves-light" data-style="zoom-out">
                                <span aria-hidden="true"></span><span class="ladda-label">{{createUpdate}}</span><span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i>
                                   </span><span class="ladda-spinner"></span></button>
                                </div>
                            </div>
                        </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
